[submodule "Sensors/Software/lib/librrc"]
	path = Sensors/Software/lib/librrc
	url = https://github.com/icl-rocketry/librrc
[submodule "Sensors/Software/lib/librnp"]
	path = Sensors/Software/lib/librnp
	url = https://github.com/icl-rocketry/librnp
