[submodule "Firmware/v3/components/libriccore"]
	path = Firmware/v3/components/libriccore
	url = git@github.com:icl-rocketry/libriccore.git
	branch = v4-DEV
[submodule "Firmware/v3/components/librnp"]
	path = Firmware/v3/components/librnp
	url = git@github.com:icl-rocketry/librnp.git
	branch = v3-DEV
[submodule "Firmware/v3/components/librrc"]
	path = Firmware/v3/components/librrc
	url = git@github.com:icl-rocketry/librrc.git
	branch = v3-DEV
[submodule "Firmware/v3/components/ArduinoJson"]
	path = Firmware/v3/components/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "Firmware/v3/components/arduino-esp32"]
	path = Firmware/v3/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "Firmware/v3/lib/SdFat"]
	path = Firmware/v3/lib/SdFat
	url = git@github.com:icl-rocketry/SdFat.git
[submodule "Firmware/v2/components/libriccore"]
	path = Firmware/v2/components/libriccore
	url = git@github.com:icl-rocketry/libriccore.git
[submodule "Firmware/v2/components/librnp"]
	path = Firmware/v2/components/librnp
	url = git@github.com:icl-rocketry/librnp.git
[submodule "Firmware/v2/components/librrc"]
	path = Firmware/v2/components/librrc
	url = git@github.com:icl-rocketry/librrc.git
[submodule "Firmware/v2/components/ArduinoJson"]
	path = Firmware/v2/components/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "Firmware/v2/components/arduino-esp32"]
	path = Firmware/v2/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "Firmware/v2/lib/SdFat"]
	path = Firmware/v2/lib/SdFat
	url = git@github.com:icl-rocketry/SdFat.git
	branch = bug-fix
[submodule "Firmware/v2/components/arduino"]
	path = Firmware/v2/components/arduino
	url = git@github.com:espressif/arduino-esp32.git
[submodule "Firmware/v3/components/arduino"]
	path = Firmware/v3/components/arduino
	url = git@github.com:espressif/arduino-esp32.git
	branch = release/v2.x
